.abt-container{
    background: linear-gradient(rgb(228,234,248),rgb(242,246,255),rgb(229,236,244));
    /* background-image: url(/static/media/aboutpgimg.jpg); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;

}

#container{
    display:flex;
    /*background-color: aquamarine;*/
    align-content: center;
    justify-content: center;
}

#container div{
    background-color: #0c2f53ec;
    opacity:0.8; 
    border-radius:20px; 
    align-items:center;
    margin: 20px;
    width:100%;
    padding: 10px;
    box-shadow:0 0 0 3px gray;


}
p{
    color:white;

}
 #p1{
    color: #0c2f53ec;
}
#s1{
    color: #0c2f53ec;
    font-weight: 3000;
}
.blink{
    animation: blink 3s linear infinite;
    animation-delay: 1s;
    
    color: black;
}
@keyframes blink{
    30%{
        opacity: 0;
    }
} 
.common-content{
    font-size: 2rem;
    font-weight: 2000;
    background: linear-gradient(180deg,brown,white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.transl-1{
    animation: move1 5s ease-in-out infinite;

}
/* @keyframes move{
    0% {
        transform: perspective(1500px) translateZ(0);
    }
    25% {
        transform: perspective(1500px) translateZ(100px);
    }
    50% {
        transform: perspective(1500px) translateZ(200px);
    }
    75% {
        transform: perspective(1500px) translateZ(300px);
    }
    100% {
        transform: perspective(1500px) translateZ(0);
    }
}

.transl:nth-child(2) {
    animation-delay: 1s;
}

.transl:nth-child(3) {
    animation-delay: 2s;
} */

/* .transl:nth-child(4) {
    animation-delay: 2.5s;
} */
@keyframes move1{
    0% {
        transform: perspective(2000px) translateZ(0);
        z-index: 2;
    }
    8.33% {
        transform: perspective(2000px) translateZ(200px);
        z-index: 2;
    }
    16.67% {
        transform: perspective(2000px) translateZ(0);
        z-index: 2;
    }
}
.transl-2{
    animation: move2 5s ease-in-out infinite;

}
@keyframes move2{
    16.67% {
        transform: perspective(2000px) translateZ(0);
        z-index: 3;
    }
    24.99% {
        transform: perspective(2000px) translateZ(200px);
        z-index: 3;
    }
    33.32% {
        transform: perspective(2000px) translateZ(0);
        z-index: 3;
    }
}
.transl-3{
    animation: move3 5s ease-in-out infinite;

}
@keyframes move3{
    33.32% {
        transform: perspective(2000px) translateZ(0);
        z-index: 2;
    }
    41.65% {
        transform: perspective(2000px) translateZ(200px);
        z-index: 2;
    }
    49.98% {
        transform: perspective(2000px) translateZ(0);
        z-index: 2;
    }
}

.transl-4{
    animation: move4 5s ease-in-out infinite;

}
@keyframes move4{
    49.98% {
        transform: perspective(2000px) translateZ(0);
        z-index: 2;
    }
    58.31% {
        transform: perspective(2000px) translateZ(200px);
        z-index: 2;
    }
    66.64% {
        transform: perspective(2000px) translateZ(0);
        z-index: 2;
    }
}

.transl-5{
    animation: move5 5s ease-in-out infinite;

}
@keyframes move5{
    66.64% {
        transform: perspective(2000px) translateZ(0);
        z-index: 2;
    }
    74.97% {
        transform: perspective(2000px) translateZ(200px);
        z-index: 2;
    }
    83.31% {
        transform: perspective(2000px) translateZ(0);
        z-index: 2;
    }
}

.transl-6{
    animation: move6 5s ease-in-out infinite;

}
@keyframes move6{
    83.31% {
        transform: perspective(2000px) translateZ(0);
        z-index: 2;
    }
    91.63% {
        transform: perspective(2000px) translateZ(200px);
        z-index: 2;
    }
    100% {
        transform: perspective(2000px) translateZ(0);
        z-index: 2;
    }
}
