    .swipe {
        position: relative;
        height: 100%;
        
      
    }

    .swipe {
        background: linear-gradient(rgb(228,234,248),rgb(242,246,255),rgb(229,236,244));
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
    }

    .swiper {

        height: 50%;
        width: 50%;
        padding-top: 50px;
        padding-bottom: 50px;
      
    }

    .swiper-slide {

        background-position: center;
        background-size: cover;
        width: 500px;
        height: 250px;
        filter: blur(4px);
    }
    .swiper-slide-active{
        filter: blur(0px);
    }

    .swiper-slide img {
        display: block;
        width: 100%;
    }