
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  /* background: #11101D; */
  background: #0c2f53ec;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open{
  width: 250px;
}
.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}
.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
  text-align: right;
}
.sidebar i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
}
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip{
  display: none;
}
.sidebar input{
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  /* background: #1d1b31; */
  background: #0c2f53ec;
}
.sidebar.open input{
  padding: 0 20px 0 50px;
  width: 100%;
}
.sidebar .bx-search{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: #FFF;
}
.sidebar.open .bx-search:hover{
  background: #1d1b31;
  color: #FFF;
}
.sidebar .bx-search:hover{
  
  color: #11101d;
  
}
.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  /* background: #11101D; */
  background: #0c2f53ec;
}
.sidebar li a:hover{
  background: #FFF;
  color: black;
}
.sidebar li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: black;
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li.profile{
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1d1b31;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile{
  width: 250px;
}
.sidebar li .profile-details{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job{
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar li.profile .job{
  font-size: 12px;
}
.sidebar .profile #log_out{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-65%);
  background: #1d1b31;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out{
  width: 50px;
  background: none;
}
.sidebar .profile #log_out:hover{
  
  color: white;
}

.home-section{
  position: relative;
  overflow: hidden;
  background: #E4E9F7;
  
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
} */
.sidebar.open ~ .home-section{
  left: 250px;
  width: calc(100% - 250px);
}
/* .home-section .text{
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
} */
@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
}

/***********bookflip******/
#album{
  width: 1200px;
  height: 650px;
  margin: 5rem auto;
  background: linear-gradient(rgb(228,234,248),rgb(242,246,255),rgb(229,236,244));
  
  /* background-color:lightslategrey; */
  /* background-image: url(/MEDIA/flipbookback1.jpg);
  background-size: cover;
  background-position: center; */

  box-shadow: 1rem 1rem 1rem #0c2f53ec;
  
}
.placesearch-container{
  border-radius: 20px;
  width: 50vw;
  height: 10vh;
  border: 2px solid black;
  margin: 3rem 3rem 0rem 20rem;
  box-shadow: 0.6rem 0.6rem 0.6rem grey;
  
  
}
.placesearch-container-box{
  transform: translate(0%,300%);
}
#placesearch-box{
  width: 41vw;
  height: 8vh;
  border: none;
  background: rgb(228,234,248);
  
  outline: none;
  
}
.btn{
  background: #18334dfe;
  color: white;
  padding: 0.8rem;
  border-radius: 30px;
}
.search-icon{
  margin: 1.1rem 0.2rem 0.4rem 0.6rem;
  
  border: none;
  background: rgb(228,234,248);
}
.btn:hover{
  color: #11101d;
  background-color: rgb(255,181,0);
}
.end1{
  position: absolute;
  /* transform: translate(50%,50%); */
  top: 15rem;
  left: 7rem;
  font-size: 4rem;
  font-weight: 1000;
}
.flipbook-t1{
  font-size: 3.5rem;
  font-weight: 1000;
  background-image: linear-gradient(to right,slategrey,black,gray);
  -webkit-background-clip: text;
  color: transparent;
}
.flipbook_fistpg_content{
  text-align: center;
  margin-top: 5rem;
  font-size: 2rem;
  font-weight: 1500;
  box-sizing: border-box;
}
