{% load range_filter %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/static/css/Travel_information_css/style.css">
    <link rel="stylesheet" href="/static/css/Travel_information_css/contact.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/static/css/Travel_information_css/testimonial.css">
</head>
<body>
    <header class="navbar">
        <div class="navbar-div">
            <div class="navbar-item navbar-logo">
                <h2><b>TRAVEL TREK</b></h2>
            </div>
            <div class="navbar-item navbar-links">
                <ul class="nav-links_items">
                    <li class="nav-link_item nav-link_item1"><a href="#"><i class="fa-solid fa-house"></i>Home</a></li>
                    <li class="nav-link_item nav-link_item2"><a href="/about"><i class="fa-solid fa-circle-info"></i>About</a></li>
                    <li class="nav-link_item nav-link_item3"><a href="#" onclick="Contactopenpopup()"><i class="fa-solid fa-phone"></i>Contact</a></li>
                    <li class="nav-link_item nav-link_item4"><a href="/signin"><i class="fa-solid fa-user"></i>Login</a></li>
                    <!-- <li class="nav-link_item nav-link_item5"><a href="/admin">Admin</a></li> -->
                </ul>
            </div>
        </div>
    </header>
    <section class="homepg_carausel">
        <main>
            <!-- <img src="/MEDIA/pic5.jpg" class="slide" alt="" >
            <img src="/MEDIA/pic6.jpg" class="slide" alt="" >
            <img src="/MEDIA/pic7.jpg" class="slide" alt=""> -->
            <div class="homepg-content_container slide">
                <div class="homepg-content_item hompg-content-quotes">
                    <p>
                        <div class="homepg_content-quotes-div">
                            <b class="b-1">YOUR JOURNEY YOUR STORY</b><br>
                            <b class="b-2">Explore Destinations</b><br><br><br>
                            <span>Embark on a journey where every destination is a story waiting to be written <br> Travel is the only thing you buy that makes you richer <br>
                            Adventure awaits just <br> outside your comfort zone</span>
                            
                        </div>
                    </p>
                </div>
                <div class="homepg-content_item homepg-content-image"><img src="/static/media/traveler1.jpg" alt=""></div>
            </div>
            <div class="homepg-content_container slide">
                <div class="homepg-content_item hompg-content-quotes">
                    <p><div class="homepg_content-quotes-div">
                        <b class="b-1">EXPLORE. DREAM .DISCOVER</b><br>
                        <b class="b-2">Search Destinations</b><br><br><br>
                        <span>Embark on a journey where every destination is a story waiting to be written <br> Travel is the only thing you buy that makes you richer <br>
                        Adventure awaits just <br> outside your comfort zone</span>
                        
                        </div>
                    </p>
                </div>
                <div class="homepg-content_item homepg-content-image"><img src="/static/media/frtpg2.jpg" alt=""></div>
            </div>
            <div class="homepg-content_container slide">
                <div class="homepg-content_item hompg-content-quotes">
                    <p><div class="homepg_content-quotes-div">
                        <b class="b-1">COLLECT MOMENTS,NOT THINGS</b><br>
                        <b class="b-2">Find Best Destinations</b><br><br><br>
                        <span>Embark on a journey where every destination is a story waiting to be written <br> Travel is the only thing you buy that makes you richer <br>
                        Adventure awaits just <br> outside your comfort zone</span>
                        
                        </div>

                    </p>
                </div>
                <div class="homepg-content_item homepg-content-image"><img src="/static/media/frtpg3.jpg" alt=""></div>
            </div>
        </main>
        <div class="carauselbtn">
            <a onclick="goPrev()"><i class="fa-solid fa-arrow-left enlarge"></i></a>
            <a onclick="goNext()"><i class="fa-solid fa-arrow-right enlarge"></i></a>
        </div>
    </section>
    <section class="contactpg-popup">
        <div id="contact-popupContainer">
            <div class="contact-popupContent">
                <button id="closebtn" onclick="Contactclosepopup()">X</button>
                <div class="container">
                    <div class="content">
                      <div class="left-side">
                        <div class="address details">
                          <i class="fas fa-map-marker-alt"></i>
                          <div class="topic">Address</div>
                          <div class="text-one topic-cmn">#</div>
                          <div class="text-two topic-cmn">#</div>
                        </div>
                        <div class="phone details">
                          <i class="fas fa-phone-alt"></i>
                          <div class="topic">Phone</div>
                          <div class="text-one topic-cmn">#</div>
                          <div class="text-two topic-cmn">#</div>
                        </div>
                        <div class="email details">
                          <i class="fas fa-envelope"></i>
                          <div class="topic">Email</div>
                          <div class="text-one topic-cmn">#</div>
                          <div class="text-two topic-cmn">#</div>
                        </div>
                      </div>
                      <div class="right-side">
                        <div class="topic-text">Send us a message</div>
                        <p>If you have any queries or problem then please fell free to contact us,we're there to help you.</p>
                        <form action="{% url 'contact' %}" method="post">
                          {% csrf_token %}
                          <div class="input-box">
                            <input type="text" placeholder="Enter your name" name="contact_name" />
                          </div>
                          <div class="input-box">
                            <input type="text" placeholder="Enter your email" name="contact_email" />
                          </div>
                          <div class="input-box message-box">
                            <textarea placeholder="Enter your message" name="contact_message"></textarea>
                          </div>
                          <div class="button">
                            <input type="submit" value="Send Now" class="contact-btn" />
                          </div>
                        </form>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="contact-overlay"></div>
    </section>
    <section class="swipe">
      <h1>Customer Reviews</h1>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
              {% for i in feedback %}
              <div class="swiper-slide swiper-slide-active">
                <!-- <img src="https://swiperjs.com/demos/images/nature-1.jpg" /> -->
                
                <div class="testimonial-box">
                  <div class="customer-photo"><img src="/static/media/ProfilePic.jpeg" alt=""></div>
                  <p class="customer-name">{{i.feedback_username}}</p>
                  <div class="star-rating">
                      {% for n in i.feedback_rating|times %}
                      <span class="fa fa-star checked"></span>
                      <!-- <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>       -->
                      {% endfor %}
                  </div>
  
                  <div class="testimonia_text_box">
                    <p class="testimonail-text">{{i.feedback_message}}</p>
                  </div>
                  
                  
                </div>
              </div>
              {% endfor %}
              <div class="swiper-slide swiper-slide-active">
                <!-- <img src="https://swiperjs.com/demos/images/nature-2.jpg" /> -->
                <div class="testimonial-box">
                  <div class="customer-photo"><img src="/static/media/guide_6.jpeg" alt=""></div>
                  <p class="customer-name">Prince Kushwaha</p>
                  <div class="star-rating">
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>      
                  </div>
  
                  <div class="testimonia_text_box">
                    <p class="testimonail-text">I like the booking sysytem of the site and have wonderful experience of travel.</p>
                  </div>
                  
                  
                </div>
              </div>
              <div class="swiper-slide swiper-slide-active">
                <!-- <img src="https://swiperjs.com/demos/images/nature-3.jpg" /> -->
                <div class="testimonial-box">
                  <div class="customer-photo"><img src="/static/media/guide_6.jpeg" alt=""></div>
                  <p class="customer-name">Siddharth Srivastava</p>
                  <div class="star-rating">
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>      
                  </div>
  
                  <div class="testimonia_text_box">
                    <p class="testimonail-text">the site was awesome,it has a beautiful user interface.</p>
                  </div>
                  
                  
                </div>
              </div>
              <div class="swiper-slide swiper-slide-active">
                <!-- <img src="https://swiperjs.com/demos/images/nature-4.jpg" /> -->
                <div class="testimonial-box">
                  <div class="customer-photo"><img src="/static/media/guide_6.jpeg" alt=""></div>
                  <p class="customer-name">Abhinav Tiwari</p>
                  <div class="star-rating">
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>      
                  </div>
  
                  <div class="testimonia_text_box">
                    <p class="testimonail-text">best website for booking flights </p>
                  </div>
                  
                  
                </div>
              </div>
              <div class="swiper-slide swiper-slide-active">
                <!-- <img src="https://swiperjs.com/demos/images/nature-5.jpg" /> -->
                <div class="testimonial-box">
                  <div class="customer-photo"><img src="/static/media/guide_6.jpeg" alt=""></div>
                  <p class="customer-name">Devesh Verma</p>
                  <div class="star-rating">
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>      
                  </div>
  
                  <div class="testimonia_text_box">
                    <p class="testimonail-text">Extremely happy with the booking system of flights and guide.The interfase was so smooth.</p>
                  </div>
                  
                  
                </div>
              </div>
              <div class="swiper-slide swiper-slide-active">
                <!-- <img src="https://swiperjs.com/demos/images/nature-6.jpg" /> -->
                <div class="testimonial-box">
                  <div class="customer-photo"><img src="/static/media/guide_6.jpeg" alt=""></div>
                  <p class="customer-name">Zoha Javed</p>
                  <div class="star-rating">
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>      
                  </div>
  
                  <div class="testimonia_text_box">
                    <p class="testimonail-text">The flight booking was just awesome,further guide was so helpful when i reached the place it,he shwed me every place.</p>
                  </div>
                  
                  
                </div>
              </div>
              <div class="swiper-slide swiper-slide-active">
                <!-- <img src="https://swiperjs.com/demos/images/nature-7.jpg" /> -->
                <div class="testimonial-box">
                  <div class="customer-photo"><img src="/static/media/guide_6.jpeg" alt=""></div>
                  <p class="customer-name">Abhishek Rajput</p>
                  <div class="star-rating">
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>      
                  </div>
  
                  <div class="testimonia_text_box">
                    <p class="testimonail-text">best website for guide booking and flight booking</p>
                  </div>
                  
                  
                </div>
              </div>
              <div class="swiper-slide swiper-slide-active">
                <!-- <img src="https://swiperjs.com/demos/images/nature-8.jpg" /> -->
                <div class="testimonial-box">
                  <div class="customer-photo"><img src="/static/media/guide_6.jpeg" alt=""></div>
                  <p class="customer-name">Sachin Singh</p>
                  <div class="star-rating">
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>      
                  </div>
  
                  <div class="testimonia_text_box">
                    <p class="testimonail-text">Best site for Travel Inspiration and booking</p>
                  </div>
                  
                  
                </div>
              </div>
              <div class="swiper-slide swiper-slide-active">
               
                <div class="testimonial-box">
                  <div class="customer-photo"><img src="/static/media/guide_6.jpeg" alt=""></div>
                  <p class="customer-name">Anubhav</p>
                  <div class="star-rating">
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>      
                  </div>
  
                  <div class="testimonia_text_box">
                    <p class="testimonail-text">Had a great experience while guide booking,the guide was very polite.</p>
                  </div>
                  
                  
                </div>
              </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        
          <!-- Swiper JS -->
        
        
          <!-- Initialize Swiper -->
          
        
    </section>
    <footer class="footer">
        <div class="footer-container">
            <div class="row">
                <div class="footer-col">
                    <h4>Comapany</h4>
                    <ul>
                        <li><a href="">About Us</a></li>
                        <li><a href=""></a></li>
                        <li><a href="">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Get Help</h4>
                    <ul>
                        <li><a href="">Contact Us</a></li>
                        <li><a href="">Payment Options</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Products</h4>
                    <ul>
                        <li><a href="">Travel Inspiration</a></li>
                        <li><a href="">Flight Booking</a></li>
                        <li><a href="">Guide Booking</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Follow Us</h4>
                    <div class="social-links">
                        <a href="#" class="face"><i class="fab fa-facebook-f" ></i></a>
                        <a href="#" class="twit"><i class=" fab fa-twitter"></i></a>
                        <a href="#" class="insta"><i class="fab fa-instagram "></i></a>
                        <a href="#" class="linkdi"><i class="fab fa-linkedin-in"></i></a>

                    </div>
                </div>
            </div>
            
        </div>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script>
        var swiper = new Swiper(".mySwiper", {
          effect: "coverflow",
          grabCursor: true,
          centeredSlides: true,
          slidesPerView: "auto",
          coverflowEffect: {
            rotate: 20,
            stretch: 0,
            depth: 700,
            modifier: 1,
            slideShadows: true,
          },
          
          loop:true,
          autoplay:{
            delay:2500,
            disableOnInteraction:false,
        }
        });
    </script>  
    <script src="/static/js/Travel_information_js/home.js" defer></script>
    
</body>
</html>
