<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="sidebar">
    <div class="logo-details">
      
      <div class="logo_name"><i class="fa-solid fa-mountain-sun"></i>  TRAVEL TREK</div>
      <i class="bx bx-menu" id="btn"></i>
    </div>
    <ul class="nav-list">
      <li>
        <i class="bx bx-search"></i>
        <input type="text" placeholder="Search..." />
        <span class="tooltip">Search</span>
      </li>
      <li>
        <a href="/user">
          <i class="fa-solid fa-earth-americas"></i>
          <span class="links_name">Inspiration</span>
        </a>
        <span class="tooltip">Inspiration</span>
      </li>
      <li>
        <a href="/flight_user">
          <i class="fa-solid fa-plane-circle-check"></i>
          <span class="links_name">Flight Booking</span>
        </a>
        <span class="tooltip">Flight Booking</span>
      </li>
      <li>
        <a href="/feedback">
          <i class="fa-solid fa-comments"></i>
          <span class="links_name">Feedback</span>
        </a>
        <span class="tooltip">Feedback</span>
      </li>
      <li>
        <a href="/bookgd">
          <i class="fa-solid fa-user"></i>
          <span class="links_name">Guide Booking</span>
        </a>
        <span class="tooltip">Guide Booking</span>
      </li>
      <li>
        <a href="https://mausam.imd.gov.in/">
          <i class="fa-solid fa-cloud"></i>
          <span class="links_name">Weather</span>
        </a>
        <span class="tooltip">Weather</span>
      </li>
      <li>
        <a href="/mybooking">
          <i class="fa-solid fa-book"></i>
          <span class="links_name">My Flights</span>
        </a>
        <span class="tooltip">My Flights</span>
      </li>
      
      <li>
        <a href="/Myguides">
          <i class="fa-brands fa-glide-g"></i>
          <span class="links_name">My Guides</span>
        </a>
        <span class="tooltip">My Gudies</span>
      </li>
      <li class="profile">
        
        <div class="profile-details">
          <img src="/static/media/ProfilePic.jpeg" alt="" />
          <div class="name_job">
            <div class="name"><b style="display: flex; flex-wrap: wrap;">{{request.user}}</b></div>
            
          </div>
        </div>
        <a href="{% url 'logout' %}" class="lg_out"><i class="bx bx-log-out" id="log_out"></i></a>
        
      </li>
    </ul>
  </div>