<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>User Page</title>
  <link rel="stylesheet" href="/static/css/Travel_information_css/user.css" />
  
  <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
  
</head>
<body>
  <!-- <div class="sidebar">
    <div class="logo-details">
      <i class="bx bxl-c-plus-plus icon"></i>
      <div class="logo_name">TRAVEL TREK</div>
      <i class="bx bx-menu" id="btn"></i>
    </div>
    <ul class="nav-list">
      <li>
        <i class="bx bx-search"></i>
        <input type="text" placeholder="Search..." />
        <span class="tooltip">Search</span>
      </li>
      <li>
        <a href="#">
          <i class="bx bx-grid-alt"></i>
          <span class="links_name">Dashboard</span>
        </a>
        <span class="tooltip">Dashboard</span>
      </li>
      <li>
        <a href="#">
          <i class="bx bx-user"></i>
          <span class="links_name">User</span>
        </a>
        <span class="tooltip">User</span>
      </li>
      <li>
        <a href="#">
          <i class="bx bx-chat"></i>
          <span class="links_name">Messages</span>
        </a>
        <span class="tooltip">Messages</span>
      </li>
      <li>
        <a href="#">
          <i class="bx bx-pie-chart-alt-2"></i>
          <span class="links_name">Analytics</span>
        </a>
        <span class="tooltip">Analytics</span>
      </li>
      <li>
        <a href="#">
          <i class="bx bx-folder"></i>
          <span class="links_name">File Manager</span>
        </a>
        <span class="tooltip">Files</span>
      </li>
      <li>
        <a href="#">
          <i class="bx bx-cart-alt"></i>
          <span class="links_name">Order</span>
        </a>
        <span class="tooltip">Order</span>
      </li>
      <li>
        <a href="#">
          <i class="bx bx-heart"></i>
          <span class="links_name">Saved</span>
        </a>
        <span class="tooltip">Saved</span>
      </li>
      <li>
        <a href="#">
          <i class="bx bx-cog"></i>
          <span class="links_name">Setting</span>
        </a>
        <span class="tooltip">Setting</span>
      </li>
      <li class="profile">
        <div class="profile-details">
          <img src="profile.jpg" alt="profileImg" />
          <div class="name_job">
            <div class="name">Siddharth Srivastava</div>
            <div class="job">Web designer</div>
          </div>
        </div>
        <i class="bx bx-log-out" id="log_out"></i>
      </li>
    </ul>
  </div> -->
  {% include "Travel_information_template/slider.html" %}
  <!-- <section class="placesearch home-section">
    <div class="placesearch-container">
      <form action="{% url 'user' %}" method="post">
        {% csrf_token %}
        <input type="text" id="placesearch-box" placeholder="Know About Places" name="placesearch-box">
        <button type="submit">SEARCH</button>
      </form>
    </div>
  </section> -->

  
  <section class="bookflip home-section" id="home-sec">
    <div class="placesearch-container-box" id="ps-c-b">
      <div class="placesearch-container">
        <form action="{% url 'user' %}" method="post">
          {% csrf_token %}
          <button type="submit" formaction="" class="LhcRH _G _H B- G_ _S t u j H0 search-icon" title="Search" aria-label="Search" tabindex="-1"><svg viewBox="0 0 24 24" width="24px" height="24px" class="d Vb UmNoP"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.74 3.75a5.99 5.99 0 100 11.98 5.99 5.99 0 000-11.98zM2.25 9.74a7.49 7.49 0 1113.3 4.728l5.44 5.442-1.06 1.06-5.44-5.439A7.49 7.49 0 012.25 9.74z"></path></svg></button>
          <input type="text" id="placesearch-box" placeholder="Know About Places" name="placesearch-box" onclick="func_change()">
          <button type="submit" class="btn" onclick="func_change1()">SEARCH</button>
        </form>
      </div>
    </div>
    
    {% if a %}
    <div class="bookflip-container" id="album">

      <div style="background: url(/static/media/flipbookback6.jpg); color: black; background-size: 100% 100%;">
        <center><h1 class="flipbook-t1">{{title}}</h1></center><br><br><br><br><br>
        <p class="flipbook_fistpg_content">{{firstpg_content}}</p>
      </div>
      {% for i in inspi1 %}
      <!-- <div style="object-fit: cover; object-position: center; width: 100px; height: 100px;"><img src="{{i.information_img.url}}" alt=""></div> -->
      <div style="background: url({{i.information_img.url}}); background-size: 100% 100%;"></div>
      <div style="background: url(/static/media/innerpg-flipbook1.jpg); background-size: 100% 100%; font-size: 1.6rem; font-family: Arial, Helvetica, sans-serif;">{{i.information_content}}</div>
      {% endfor %}
      <div style="background: url(/static/media/flipbookback6.jpg); color: black; background-size: 100% 100%;"><p class="end1">THE END</p></div>
    </div>
  </section>
  {% endif %}
  
  <script>
    function func_change1(){
      document.getElementById("ps-c-b").style.transform="translate(0,0)";
    }
    function func_change(){
      
      element=document.getElementsByClassName("home-section");
      
      element.style.backdropFilter="blur(15px)"
      
    }
  </script>
  
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script src="/static/js/Travel_information_js/turn.js" defer></script>
  <script src="/static/js/Travel_information_js/user.js" defer ></script>
  
</body>
</html>
<!-- type="application/javascript" -->